<template>
    <div>
        <div class="app-title">
            <div>
                <h1><i class="fa fa-clipboard"></i> Classes</h1>
                <p style="color:blue;" id="title">some text</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-clipboard"></i><router-link :to="{ name: 'classes' }" href="#">Classes</router-link></li>
                <li class="breadcrumb-item"><i class="fa fa-clipboard "></i><router-link :to="{ name: 'streams' }" href="#">Streams</router-link></li>
            </ul>
        </div>
    </div>
</template>
