<template>
<div>
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header class="header">
            <div class="page-brand">
                <a href="index-2.html">
                    <span class="brand">SCHOOL</span>
                    <span class="brand-mini">AC</span>
                </a>
            </div>
            <div class="flexbox flex-1">
                <!-- START TOP-LEFT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <li>
                        <a class="nav-link sidebar-toggler js-sidebar-toggler" href="javascript:;">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link search-toggler js-search-toggler"><i class="ti-search"></i>
                            <span>Search here...</span>
                        </a>
                    </li>
                </ul>
                <!-- END TOP-LEFT TOOLBAR-->
                <!-- START TOP-RIGHT TOOLBAR-->
                <ul class="nav navbar-toolbar">

                    <li class="dropdown dropdown-user">
                        <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                            <span id="profile_name"></span>
                            <img src="assets/img/users/admin-image.png" alt="image" />
                        </a>
                        <div class="dropdown-menu dropdown-arrow dropdown-menu-right admin-dropdown-menu">
                            <div class="dropdown-arrow"></div>
                            <div class="dropdown-header">
                                <div class="admin-avatar">
                                    <img src="assets/img/users/admin-image.png" alt="image" />
                                </div>
                                <div>
                                    <h5 class="font-strong text-white" id="profile_role"></h5>
                                    <div>
                                        <span class="admin-badge mr-3"><i class="ti-alarm-clock mr-2"></i>30m.</span>
                                        <span class="admin-badge"><i class="ti-lock mr-2"></i>Safe Mode</span>
                                    </div>
                                </div>
                            </div>
                            <div class="admin-menu-content">
                                <div class="d-flex justify-content-between mt-2">
                                    <a class="text-muted" href="javascript:;">Profile</a>
                                    <a class="d-flex align-items-center" v-on:click="logout()" href="#">Logout<i class="ti-shift-right ml-2 font-20"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- END TOP-RIGHT TOOLBAR-->
            </div>
        </header>
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        <nav class="page-sidebar" id="sidebar">
            <div id="sidebar-collapse">
                <ul class="side-menu metismenu">
                    <li>
                        <router-link :to="{ name: 'home' }" href="#"><i class="sidebar-item-icon ti-home"></i>Dashboards</router-link>
                    </li>
                    <li class="heading">FEATURES</li>

                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-clipboard"></i>
                            <span class="nav-label">Classes</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <router-link href="#" :to="{ name: 'classes' }">Classes</router-link>
                            </li>
                            <li>
                                <router-link href="#" :to="{ name: 'streams' }">Streams</router-link>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <router-link :to="{ name: 'dorms' }" href="#"><i class="sidebar-item-icon ti-gift"></i>Dorms</router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'subjects' }" href="#"><i class="sidebar-item-icon ti-book"></i>Subjects</router-link>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-user"></i>
                            <span class="nav-label">Students</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <router-link href="#" :to="{ name: 'registerstudents' }">Register</router-link>
                            </li>
                            <li>
                                <router-link href="#" :to="{ name: 'students' }">Active</router-link>
                            </li>
                            <li>
                                <router-link href="#" :to="{ name: 'streams' }">Suspended</router-link>
                            </li>
                            <li>
                                <router-link href="#" :to="{ name: 'streams' }">Expelled</router-link>
                            </li>
                            <li>
                                <router-link href="#" :to="{ name: 'streams' }">Completed</router-link>
                            </li>
                        </ul>
                    </li>

                <div class="sidebar-footer">
                    <a href="javascript:;"><i class="ti-announcement"></i></a>
                    <a href="calendar.html"><i class="ti-calendar"></i></a>
                    <a href="javascript:;"><i class="ti-comments"></i></a>
                    <a href="login.html"><i class="ti-power-off"></i></a>
                </div>
                </ul>
            </div>
        </nav>
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <router-view></router-view>

            <!-- END PAGE CONTENT-->
            <footer class="page-footer">
                <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
                <div>
                    <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                    <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
                </div>
                <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
            </footer>
        </div>
    </div>
    <!-- START SEARCH PANEL-->
    <form class="search-top-bar" action="http://admincast.com/adminca/preview/admin_1/html/search.html">
        <input class="form-control search-input" type="text" placeholder="Search...">
        <button class="reset input-search-icon"><i class="ti-search"></i></button>
        <button class="reset input-search-close" type="button"><i class="ti-close"></i></button>
    </form>
    <!-- END SEARCH PANEL-->
    <!-- BEGIN THEME CONFIG PANEL-->

    <!-- END THEME CONFIG PANEL-->
    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <!-- END PAGA BACKDROPS-->
    <!-- New question dialog-->
    <!-- End New question dialog-->
    <!-- QUICK SIDEBAR-->
</div>
</template>
<script>
    export default {
        data() {
            return {
                members: [],
            }
        },
        methods: {
            logout() {
                let uri =`api/auth/logout`;
                this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    localStorage.removeItem('token');
                    this.$router.push({name: 'login'});
                }).catch(error => {
                    localStorage.removeItem('token');
                    this.$router.push({name: 'login'});
                });
            },
            // getUser(){
            //     alert('hello')
            //     let uri =`api/auth/user`
            //     this.axios.get(uri, { headers: { Authorization: token } }).then(response => {
            //                     $("#profile_name" ).text( response.data.data.name);
            //                     $("#profile_role" ).text( response.data.data.role);
            //     }).catch(error => {
            //         localStorage.removeItem("token");
            //         this.$router.push({name: 'login'});
            //         this.$notify({group: 'foo', type: 'error', title: 'error!', text: 'Please login!'});
            //     });
            // }
        }
    }
</script>

