<template>
    <div>
        <div class="row login-content">
            <div class="col-6 bg-white">
                <div class="text-center">
                    <span class="auth-head-icon"><i class="la la-user"></i></span>
                </div>
                <div class="ibox m-0" style="box-shadow: none;">
                    <form class="ibox-body" id="login-form" v-on:submit.prevent="login" method="POST">
                        <h4 class="font-strong text-center mb-5">LOG IN</h4>
                        <div class="form-group mb-4">
                            <input class="form-control form-control-air" type="text" name="email" v-model="message.email" placeholder="Email">
                        </div>
                        <div class="form-group mb-4">
                            <input class="form-control form-control-air" type="password" name="password" v-model="message.password" placeholder="Password">
                        </div>
                        <div class="flexbox mb-5">
                            <label class="checkbox checkbox-primary">
                                <input type="checkbox" checked>
                                <span class="input-span"></span> Remember</label>
                            <a class="text-primary" href="forgot_password.html">Forgot password?</a>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-rounded btn-block btn-air">LOGIN</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6 d-inline-flex align-items-center text-white py-4 px-5" style="background-color: #4a5ab9;">
                <div>
                    <div class="h2 mb-5">Not a member?</div>
                    <p>Register and get the following benefits.<br>Minim dolor in amet nulla laboris enim dolore.</p>
                    <div class="flexbox-b mb-3"><i class="ti-check mr-3 text-success"></i>Lorem Ipsum dolar set.</div>
                    <div class="flexbox-b mb-3"><i class="ti-check mr-3 text-success"></i>Lorem Ipsum dolar set.</div>
                    <div class="flexbox-b mb-5"><i class="ti-check mr-3 text-success"></i>Lorem Ipsum dolar set.</div>
                    <button class="btn btn-outline btn-rounded btn-fix">Register</button>
                </div>
            </div>
        </div>
        <!-- BEGIN PAGA BACKDROPS-->
        <div class="sidenav-backdrop backdrop"></div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                message:{},
            }
        },
        methods: {
            login() {
                $('#modal').modal('hide');
                this.$loading(true);
                let uri =`api/auth/login`;
                this.axios.post(uri, this.message).then((response) => {
                    this.$loading(false);
                    if(response.data.status){
                        localStorage.setItem('token', response.data.access_token);
                        this.$router.push({name: 'home'});
                    }else{
                        this.$notify({group: 'foo', type: 'error', title: 'Error!', text: response.data.message});
                        localStorage.removeItem('token');
                    }
                }).catch(error => {
                    this.$loading(false);
                    this.$notify({group: 'foo', type: 'error', title: 'System error!', text: 'System technical error'});
                    localStorage.removeItem('token')
                });

            },
        }
    }
</script>
