<template>
    <div>
        <div class="app-title">
            <div>
                <h1><i class="fa fa-users"></i> Students</h1>
                <p style="color:blue;" id="title">some text</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item">
                    <input class="app-search__input" v-model="data.regno" v-on:keyup.enter="searchData" type="text" placeholder="Enterreg no to Search" style="background-color:#e7e7e7;">
                </li>
                <li class="breadcrumb-item"><i class="fa fa-id-card"></i><router-link :to="{ name: 'registerstudents' }" href="#">Register</router-link></li>
                <li class="breadcrumb-item"><i class="fa fa-home "></i><router-link :to="{ name: 'students' }" href="#">Active</router-link></li>
                <li class="breadcrumb-item"><i class="fa fa-lock "></i><a href="#">Suspended</a></li>
                <li class="breadcrumb-item"><i class="fa fa-minus "></i><a href="#">Expelled</a></li>
                <li class="breadcrumb-item"><i class="fa fa-asterisk "></i><a href="#">Completed</a></li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
               data:{},
            }
        },
        methods: {
            searchData() {
                this.$loading(true);
                let uri ='api/searchStudent';
                this.axios.post(uri,this.data).then(response => {
                    this.$loading(false);
                    if(response.data.status){
                        localStorage.setItem('id', response.data.data.id)
                        if(this.$route.path==='/profile'){
                            this.$router.go(this.$router.currentRoute)
                        }else{
                            this.$router.push({name: 'profile'});
                        }
                    }else{
                        this.$notify({group: 'foo', type: 'error', title: 'Not Found!', text: response.data.message});
                    }
                }).catch(error => {
                    this.$loading(false);
                    this.$notify({group: 'foo', type: 'error', title: 'System error!', text: "System technical error"});
                });
            }
        }

    }
</script>
