<template>
    <div>

        <form  v-on:submit.prevent="UpdateClass">
            <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" type="text" v-model="message.email" required>
            </div>
            <div class="form-group">
                <label class="control-label">Paswword</label>
                <input class="form-control" type="password" v-model="message.password" required>
            </div>
            <div class="form-group">
                <div class="form-check">
                </div>
            </div>
            <div class="tile-footer">
                <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Submit</button>
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                message: {},
            }
        },
        created() {
        },
        methods: {
            UpdateClass() {
                this.$loading(true);
                let uri =`http://localhost:8080/api/v1/billerLogin`;
                this.axios.post(uri, this.message).then((response) => {
                    this.$loading(false)
                    if(response.data.message){
                        this.$notify({group: 'foo', type: 'success', title: 'Success!', text: response.data.message});
                        this.loadData()
                    }else{
                        this.$notify({group: 'foo', type: 'error', title: 'Error!', text: response.data.message});
                    }
                }).catch(error => {
                    this.$loading(false)
                    this.$notify({group: 'foo', type: 'error', title: 'System error!', text: 'Error system'});
                });

            },
        }

    }
</script>
