<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <h4 class="tile-title">Streams
                        <button class="btn btn-primary btn-primary float-right" data-toggle="modal" data-target="#modal">Add Class</button>
                    </h4>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Fee</th>
                                <th>Class</th>
                                <th>Active Students</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(post, index) in data" :key="post.id">
                                <td>{{index + 1}}</td>
                                <td>{{ post.name }}</td>
                                <td>{{ post.code }}</td>
                                <td>Ksh {{ formatPrice(post.fee )}}</td>
                                <td>{{ post.darasa }}</td>
                                <td>{{ post.students }}</td>
                                <td><a class="btn btn-primary btn-sm icon-btn fa fa-edit" v-on:click="displayModal(post.id,post.name,post.code,post.darasa,post.class_id)" data-toggle="modal" data-target="#modal2"></a> </td>
                                <td><a class="btn btn-info btn-sm icon-btn fa fa-eye" href=""></a> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Streams</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form  v-on:submit.prevent="postClass">
                            <div class="form-group">
                                <label class="control-label col-md-3">Class</label>
                                <div class="col-md-12">
                                    <select class="form-control" id="exampleSelect1" v-model="message.class_id">
                                        <option v-for="option in classes" v-bind:value="option.id">{{option.name}}</option>
                                    </select>
                                </div>
                            </div><hr>
                            <div class="row ">
                                <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input class="form-control" type="text" v-model="message.streams[0].name" required>
                            </div>
                                </div>
                                <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Code</label>
                                <input class="form-control" type="text" v-model="message.streams[0].code" required>
                            </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input class="form-control" type="text" v-model="message.streams[1].name" >
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Code</label>
                                        <input class="form-control" type="text" v-model="message.streams[1].code" >
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input class="form-control" type="text" v-model="message.streams[2].name" >
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Code</label>
                                        <input class="form-control" type="text" v-model="message.streams[2].code" >
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input class="form-control" type="text" v-model="message.streams[3].name" >
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Code</label>
                                        <input class="form-control" type="text" v-model="message.streams[3].code" >
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input class="form-control" type="text" v-model="message.streams[4].name" >
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Code</label>
                                        <input class="form-control" type="text" v-model="message.streams[4].code" >
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="form-check">
                                </div>
                            </div>
                            <div class="tile-footer">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Classes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form  v-on:submit.prevent="UpdateClass">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input class="form-control" type="text" v-model="datas.name" required>
                                <input class="form-control" type="text" v-model="datas.id" required hidden>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Code</label>
                                <input class="form-control" type="text" v-model="datas.code" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Class</label>
                                <div class="col-md-12">
                                    <select class="form-control" id="exampleSelect1" v-model="datas.class_id">
                                        <option v-bind:value="datas.class_id">{{datas.darasa}}</option>
                                        <option v-for="option in classes" v-bind:value="option.id">{{option.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                </div>
                            </div>
                            <div class="tile-footer">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import ClassesNav from '../view/ClassesNav'
    export default {
        name: 'App',
        components: {
            ClassesNav,
        },
        data() {
            return {
                datas: {
                    id:'',
                    name:'',
                    code:'',
                    class_id:'',
                    darasa:'',
                },
                data:[],
                message: {
                    streams:[
                        {
                         code:'',
                            name:'',
                        },
                        {
                            code:'',
                            name:'',
                        },
                        {
                            code:'',
                            name:'',
                        },
                        {
                            code:'',
                            name:'',
                        },
                        {
                            code:'',
                            name:'',
                        },

                    ]
                },
                classes: [],
            }
        },
        created() {
            this.loadData()
            this.loadClasses()
        },
        methods: {
            loadClasses() {
                let uri ='api/auth/classes';
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.classes = response.data.data;
                });
            },
            postClass() {
                $('#modal').modal('hide')
                this.$loading(true)
                let uri =`api/auth/postStream`;
                this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                    this.$loading(false)
                        this.$notify({group: 'foo', type: 'success', title: 'Success!', text: response.data.message});
                        this.loadData()
                }).catch(error => {
                    this.$loading(false)
                    this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$notify({group: 'foo', type: 'error', title: 'error!', text: 'Please login!'});
                    }else{
                        this.$notify({group: 'foo', type: 'error', title: 'System error!', text: "System technical error"});
                    }
                });

            }, UpdateClass() {
                $('#modal2').modal('hide')
                this.$loading(true)
                let uri =`api/auth/updateStream`;
                this.axios.post(uri, this.datas,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                    this.$loading(false)
                    if(response.data.message){
                        this.$notify({group: 'foo', type: 'success', title: 'Success!', text: response.data.message});
                        this.loadData()
                    }else{
                        this.$notify({group: 'foo', type: 'error', title: 'Error!', text: response.data.message});
                    }
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$notify({group: 'foo', type: 'error', title: 'error!', text: 'Please login!'});
                    }else{
                        this.$notify({group: 'foo', type: 'error', title: 'System error!', text: "System technical error"});
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            loadData(){
                let uri ='api/auth/streams';
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.data = response.data.data;
                    setTimeout(function(){
                        $('#sampleTable').DataTable();
                    }, 500);
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$notify({group: 'foo', type: 'error', title: 'error!', text: 'Please login!'});
                    }else{
                        this.$notify({group: 'foo', type: 'error', title: 'System error!', text: "System technical error"});
                    }
                });
            },
            displayModal(id,name,code,darasa,class_id){
                this.datas.name=name;
                this.datas.code=code;
                this.datas.class_id=class_id;
                this.datas.darasa=darasa;
                this.datas.id=id;
            }
        }

    }
</script>
