<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <section class="invoice">
                        <div class="row mb-4">
                            <div class="col-6">
                                <h2 class="page-header"><i class="fa fa-user"></i> {{data.fname}} {{data.oname}}</h2>
                            </div>
                            <div class="col-6">
                                <h5 class="text-right">Reg No: {{data.regno}}</h5>
                            </div>
                        </div>
                        <div class="row invoice-info">
                            <div class="col-3">
                                <div class="profile">
                                    <div class="info"><img class="user-img" :src="photo" style="width: 150px; height: 150px;">
                                        <h4 v-if="data.status==='Active'"  style="color: green;">{{data.status}} <strong>....</strong></h4>
                                        <h4 v-if="data.status==='Expelled'"  style="color: red;">{{data.status}} <strong>....</strong>  {{data.updated_at}}</h4>
                                        <h4 v-if="data.status==='Compeleted'"  style="color: blue;">{{data.status}} <strong>....</strong>  {{data.updated_at}}</h4>
                                        <h4 v-if="data.status==='Suspended'"  style="color: grey;">{{data.status}} <strong>....</strong>  {{data.updated_at}}</h4>
                                        <p>{{data.class}} -- {{data.stream}}</p>
                                    </div>
                                    <div class="cover-image"></div>
                                </div>
                            </div>
                            <div class="col-3"><strong><u>Personal Information</u></strong>
                                <address>
                                    <strong>First Name:</strong>{{data.fname}}<br>
                                    <strong>Other Names:</strong>{{data.oname}}<br>
                                    <strong>Gender:</strong>{{data.gender}}<br>
                                    <strong>Home:</strong>{{data.home}}<br>
                                    <strong>Address:</strong>{{data.address}}<br>
                                    <strong>KCSE Index:</strong>{{data.kcse_index}}<br>
                                    <strong>KCSE Year:</strong>{{data.kcse_year}}<br>
                                    <strong>Date of Adm:</strong>{{data.created_at}}<br>
                                   </address>
                            </div>
                            <div class="col-3"><strong><u>Education Information</u></strong>
                                <address>
                                    <strong>KCPE Marks:</strong>{{data.kcpe_marks}}<br>
                                    <strong>KCPE School :</strong>{{data.kcpe_school}}<br>
                                    <strong>KCPE Year:</strong>{{data.kcpe_year}}<br>
                                    <strong>KCPE Index:</strong>{{data.kcpe_index}}<br>
                                    <strong>Address:</strong>{{data.address}}<br>
                                    <strong>Class:</strong>{{data.class}}<br>
                                    <strong>Stream:</strong>{{data.stream}}<br>
                                    <strong>Dorm:</strong>{{data.dorm}}<br>
                                </address>
                            </div>
                            <div class="col-3"><strong><u>Parent Information</u></strong>
                                <address>
                                    <strong>Name:</strong>{{parents.name}}<br>
                                    <strong>Phone :</strong>{{parents.phone}}<br>
                                    <strong>Address:</strong>{{parents.parent_address}}<br>
                                    <strong>Email:</strong>{{parents.email}}<br>
                                    <strong>Expected Anual Fee(Ksh.):</strong><b style="color: blue">{{ formatPrice(data.fee )}}</b><br>
                                    <strong>Fee Paid(Ksh.):</strong><br>
                                    <strong>Fee Balance(Ksh.):</strong><br>
                                </address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Subject Name</th>
                                        <th>Subject Code</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(post, index) in subjects" :key="post.id">
                                        <td>{{index + 1}}</td>
                                        <td>{{post.name}}</td>
                                        <td>{{post.code}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row d-print-none mt-2">
                            <div class="col-12 text-right"><a class="btn btn-primary" href="javascript:window.print();" target="_blank"><i class="fa fa-print"></i> Print</a></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import StudentNav from '../view/StudentNav'
    import  FileURL from '../api/file'
    export default {
        name: 'App',
        components: {
            StudentNav,
        },
        data(){
            return {
                photo:'',
                data:{},
                parents:{},
                subjects:[],

            }
        },
        created() {
            this.searchData()
        },
        methods: {
            searchData() {
                const id=localStorage.getItem("id");
                let uri =`api/auth/getStudent/${id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                this.photo=FileURL()+response.data.detail[0].photo;
                this.data=response.data.detail[0];
                this.parents=response.data.parent[0];
                this.subjects=response.data.subjects;
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$notify({group: 'foo', type: 'error', title: 'error!', text: 'Please login!'});
                    }else{
                        this.$notify({group: 'foo', type: 'error', title: 'System error!', text: "System technical error"});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
        }

    }
    </script>
