<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <!--                    <bounce  v-bind:loading="isLoading"></bounce >-->
                    <div class="tile-body">
                        <form class="form-horizontal"  @submit="onComplete" novalidate="true" enctype="multipart/form-data">
                            <form-wizard  :title="null" :subtitle="null"  @on-complete="onComplete">
                            <tab-content title="Personal Details">
                               <div class="container">
                                       <div class="row justify-content-center">
                                           <div class="col-sm-6">
                                       <div class="form-group row">
                                           <label class="control-label col-md-3">First Name</label>
                                           <div class="col-md-8">
                                               <input class="form-control" type="text" v-model="student.fname">
                                           </div>
                                       </div>
                                           </div>
                                           <div class="col-sm-6">
                                               <div class="form-group row">
                                                   <label class="control-label col-md-3">Other Name</label>
                                                   <div class="col-md-8">
                                                       <input class="form-control" type="text" v-model="student.oname">
                                                   </div>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="row">
                                           <div class="col-sm-6">
                                               <div class="form-group row">
                                                   <label class="control-label col-md-3">Gender</label>
                                                   <div class="col-md-8">
                                                       <select class="form-control" id="exampleSelect1" v-model="student.gender" v-on:change="loadDorms()">
                                                           <option>Male</option>
                                                           <option>Female</option>
                                                           <option>Other</option>
                                                       </select>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-sm-6">
                                               <div class="form-group row">
                                                   <label class="control-label col-md-3">Home</label>
                                                   <div class="col-md-8">
                                                       <input class="form-control" type="text" v-model="student.home">
                                                   </div>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="row">
                                           <div class="col-sm-6">
                                               <div class="form-group row">
                                                   <label class="control-label col-md-3">Address</label>
                                                   <div class="col-md-8">
                                                       <input class="form-control" type="text" v-model="student.address">
                                                   </div>
                                               </div>
                                           </div>

                                           <div class="col-sm-6">
                                               <div class="form-group row">
                                                   <label class="control-label col-md-3">Class</label>
                                                   <div class="col-md-8">
                                                       <select class="form-control" id="exampleSelect1" v-model="student.class_id" v-on:change="loadStream()">
                                                           <option v-for="option in classes" v-bind:value="option.id" @click="selectedClass(option.name)">{{option.name}}</option>
                                                       </select>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="row">
                                           <div class="col-sm-6">
                                               <div class="form-group row">
                                                   <label class="control-label col-md-3">Dorm</label>
                                                   <div class="col-md-8">
                                                       <select class="form-control" id="exampleSelect1" v-model="student.dorm_id">
                                                           <option v-for="option in dorms" v-bind:value="option.id" @click="selectedDorm(option.name)">{{option.name}}</option>
                                                       </select>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-sm-6">
                                               <div class="form-group row">
                                                   <label class="control-label col-md-3">Stream</label>
                                                   <div class="col-md-8">
                                                       <select class="form-control" id="exampleSelect1" v-model="student.stream_id">
                                                           <option v-for="option in streams" v-bind:value="option.id" @click="selectedDorm(option.name)">{{option.name}}</option>
                                                       </select>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                               </div>
                            </tab-content>
                            <tab-content title="School Details">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Fee payment method</label>
                                                <div class="col-md-8">
                                                    <select class="form-control" id="exampleSelect1" v-model="student.payment_method">
                                                        <option>Bank Deposit</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Transaction ID</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" v-model="student.trans_id">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Fee(Ksh)</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" type="number" v-model="student.amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">KCPE School</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" type="text" v-model="student.kcpe_school">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">KCPE Marks</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" type="text" v-model="student.kcpe_marks">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">KCPE Year</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" type="text" v-model="student.kcpe_year">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">KCPE Index</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" type="text" v-model="student.kcpe_index">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </tab-content>
                            <tab-content title="Parent Details">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Parent Name</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" v-model="student.name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Parent phone</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="number" v-model="student.phone">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Parent Address</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" v-model="student.parent_address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Parent Email</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" v-model="student.email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </tab-content>
                                <tab-content title="Subjects">
<div class="row justify-content-center">
    <div class="col-lg-6" v-for="post in subjects" :key="post.id">
    <div class="animated-checkbox" >
        <label>
            <input type="checkbox" :value="post.id" v-model="student.selected" ><span class="label-text">{{post.name}}</span>
        </label>
    </div>
    </div>
</div>
                                </tab-content>

                                <tab-content title="Profile Photo">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-6">
                                    <img class="app-sidebar__user-avatar" style="width: 150px;height: 150px;" v-if="url" :src="url">
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="control-label">Select a photo</label>
                                                <input class="form-control" name="pic"  type="file" @change="onFileChange">
                                            </div>
                                        </div>
                                        </div>
                                </tab-content>
                                <tab-content title="Confirmation">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-4">
<table class="table table-bordered hover">
    <thead>
    <th>#</th>
    <th>#</th>
    </thead>
    <tbody>
    <tr>
    <td style="font-family: 'Britannic Bold'">First Name</td>
    <td>{{student.fname}}</td>
    </tr>
    <tr>
        <td style="font-family: 'Britannic Bold'">Other Names</td>
        <td>{{student.oname}}</td>
    </tr>
    <tr>
        <td style="font-family: 'Britannic Bold'">Gender</td>
        <td>{{student.gender}}</td>
    </tr>
    <tr>
        <td style="font-family: 'Britannic Bold'">Home</td>
        <td>{{student.home}}</td>
    </tr>
    <tr>
        <td style="font-family: 'Britannic Bold'">Address</td>
        <td>{{student.address}}</td>
    </tr>
    <tr>
        <td style="font-family: 'Britannic Bold'">Class</td>
        <td>{{classname}}</td>
    </tr>
    <tr>
        <td style="font-family: 'Britannic Bold'">Dorm</td>
        <td>{{domname}}</td>
    </tr>

    <tr>
        <td style="font-family: 'Britannic Bold'">KCPE School</td>
        <td>{{student.kcpe_school}}</td>
    </tr>
    <tr>
        <td style="font-family: 'Britannic Bold'">KCPE Marks</td>
        <td>{{student.kcpe_marks}}</td>
    </tr>
    <tr>
        <td style="font-family: 'Britannic Bold'">Fee Transaction ID</td>
        <td>{{student.trans_id}}</td>
    </tr>
    </tbody>
</table>
                                        </div>

                                        <div class="col-lg-4">
                                            <table class="table table-bordered hover">
                                                <thead>
                                                <th>#</th>
                                                <th>#</th>
                                                </thead>
                                                <tbody>

                                                <tr>
                                                    <td style="font-family: 'Britannic Bold'">KCPE Year</td>
                                                    <td>{{student.kcpe_year}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family: 'Britannic Bold'">KCPE Index</td>
                                                    <td>{{student.kcpe_index}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family: 'Britannic Bold'">Parent Name</td>
                                                    <td>{{student.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family: 'Britannic Bold'">Parent Phone</td>
                                                    <td>{{student.phone}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family: 'Britannic Bold'">Parent address</td>
                                                    <td>{{student.parent_address}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family: 'Britannic Bold'">Parent Email</td>
                                                    <td>{{student.email}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family: 'Britannic Bold'">School fee</td>
                                                    <td>{{student.amount}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family: 'Britannic Bold'">Fee Payment method</td>
                                                    <td>{{student.payment_method}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family: 'Britannic Bold'">Profile photo</td>
                                                    <td><img class="app-sidebar__user-avatar" style="width: 50px;height: 50px;"  v-if="url" :src="url" alt="User Image"></td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="col-lg-4">
                                            <p v-if="errors.length">
                                                <b style="color: blue">Please correct the following error(s):</b>
                                            <ul>
                                                <li style="color: red;" v-for="error in errors">{{ error }}</li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </tab-content>
                        </form-wizard>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    import StudentNav from '../view/StudentNav'
    export default{
        name: 'App',
        components: {
            StudentNav,
        },
        data(){
            return {
                url:null,
                subjects: [],
                classes: [],
                dorms: [],
                streams: [],
                student: {
                    selected:[],
                },
                classname:'',
                errors:[],
                image: '',
                domname:'',
            }
        },
        created() {
            this.loadSubjects()
            this.loadClasses()
        },
        methods: {
            loadSubjects() {
                let uri ='api/subjects';
                this.axios.get(uri).then(response => {
                    this.subjects = response.data.data;
                });
            },
            onFileChange(e) {
                this.image = e.target.files[0];
                this.url = URL.createObjectURL(this.image);
            },
            loadClasses() {
                let uri ='api/auth/classes';
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.classes = response.data.data;
                });
            },
            loadStream() {
                let uri ='api/loadStream';
                this.axios.post(uri,this.student).then(response => {
                    this.streams = response.data.data;
                });
            },
            loadDorms() {
                let uri ='api/loadDorm';
                this.axios.post(uri,this.student).then(response => {
                    this.dorms = response.data.data;
                });
            },
            selectedDorm(domname) {
               this.domname=domname;
            },
            selectedClass(classname) {
                this.classname=classname
            },
            onComplete: function(e){
                this.errors = [];
                if(!this.student.fname) {
                    this.errors.push("First name is required.");
                }
                if(!this.student.oname) {
                    this.errors.push("Other name is required*.");
                }
                if(!this.student.gender) {
                    this.errors.push("Gender is required*.");
                }
                if(!this.student.class_id) {
                    this.errors.push("Class is requried*.");
                }
                if(!this.student.kcpe_marks) {
                    this.errors.push("KCPE Marks is required*.");
                }
                if(!this.student.kcpe_school) {
                    this.errors.push("KCPe School is required*.");
                }
                if(!this.student.kcpe_year) {
                    this.errors.push("KCPE year is required*.");
                }
                if(!this.student.kcpe_index) {
                    this.errors.push("KCPE year is required*.");
                }
                if(!this.student.phone) {
                    this.errors.push("Parent phone is required*.");
                }
                if(!this.student.name) {
                    this.errors.push("Parent Name is required*.");
                }
                if(!this.student.amount) {
                    this.errors.push("Student fee is required*.");
                }
                if(!this.url) {
                    this.errors.push("Student photo  is required*.");
                }
                if(!this.student.payment_method) {
                    this.errors.push("Payment method   is required*.");
                }
                if(!this.student.trans_id) {
                    this.errors.push("Payment Transaction id is required  is required*.");
                }
                if(!this.student.stream_id) {
                    this.errors.push("Stream   is required*.");
                }
                if(!this.errors.length)
                  return   this.submitForm();

            },
            submitForm() {
                this.$loading(true)
                let uri =`api/auth/register`;
                this.axios.post(uri,this.student,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                    this.$loading(false)
                    if(response.data.status){
                        this.$notify({group: 'foo', type: 'success', title: 'Success!', text: response.data.message});
                       this.submitPhoto(response.data.id);
                    }else{
                        this.$notify({group: 'foo', type: 'error', title: 'Error!', text: response.data.message});
                    }
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$notify({group: 'foo', type: 'error', title: 'error!', text: 'Please login!'});
                    }else{
                        this.$notify({group: 'foo', type: 'error', title: 'System error!', text: "System technical error"});
                    }
                });
            },
            submitPhoto(id) {
                this.$loading(true);
                let formData = new FormData();
                formData.append('pic', this.image);
                formData.append('id',id);
                let uri =`api/submitPhoto`;
                this.axios.post(uri,formData).then((response) => {
                    this.$loading(false);
                    if(response.data.status){
                        this.$notify({group: 'foo', type: 'success', title: 'Success!', text: response.data.message});
                        localStorage.setItem('id', id);
                        this.$router.push({name: 'profile'});
                    }else{
                        this.$notify({group: 'foo', type: 'error', title: 'Error!', text: response.data.message});
                        localStorage.setItem('id', id);
                        this.$router.push({name: 'profile'});
                    }
                }).catch(error => {
                    this.$loading(false);
                    this.$notify({group: 'foo', type: 'error', title: 'System error!', text: 'System tech ical erro while saving image'});
                    localStorage.setItem('id', id);
                    this.$router.push({name: 'profile'});
                });
            },
        }
    }
</script>
