<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
<!--                    <bounce  v-bind:loading="isLoading"></bounce >-->
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Reg No</th>
                                <th>Home</th>
                                <th>Class</th>
                                <th>Dorm</th>
                                <th>Gender</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(post, index) in message" :key="post.id">
                                <td>{{index + 1}}</td>
                                <td>{{ post.fname }}  {{ post.oname }}</td>
                                <td>{{ post.regno }}</td>
                                <td>{{ post.home }}</td>
                                <td>{{ post.class }}</td>
                                <td>{{ post.dorm }}</td>
                                <td>{{ post.gender }}</td>
                                <td>{{ post.status }}</td>
<!--                                <td><a class="btn btn-primary btn-sm icon-btn fa fa-edit" v-on:click="displayModal(post.id,post.name,post.code,post.fee)" data-toggle="modal" data-target="#modal2"></a> </td>-->
<!--                                <td><a class="btn btn-info btn-sm icon-btn fa fa-eye" href=""></a> </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    import StudentNav from '../view/StudentNav'
    export default{
        name: 'App',
        components: {
            StudentNav,
        },
        data(){
            return {
               message:[]
            }
        },
        created() {
            this.loadData()
        },
        methods: {
            loadData() {
                let uri ='api/auth/students';
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data.data;
                    // setTimeout(function(){
                    //     $('#sampleTable').DataTable();
                    // }, 500);
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$notify({group: 'foo', type: 'error', title: 'error!', text: 'Please login!'});
                    }else{
                        this.$notify({group: 'foo', type: 'error', title: 'System error!', text: "System technical error"});
                    }
                });
            }
        }
    }
</script>
